<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://datcafefuncapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ef94ffd3-1c64-4874-b0e8-d34f2f50dbd5/resourcegroups/DatCafe/providers/Microsoft.Web/sites/DatCafeFuncApp</ResourceId>
    <UserName>$DatCafeFuncApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://datcafefuncapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>